table {
	width: 62%;
}

.general {
	width: 95%;
}

.navleft td {
	font-weight: 300;
	padding-right: 30%;
	padding-top: 10%;
	font-size: 150%;
}

.navLeft {
	padding-top: 8%;
	padding-left: 6%;
	width: 25%;
	border-right-style: solid;
	border-right-width: 1px;
	height: 75.7%;
	float: left;
}

.rightArt {
	width: 62%;
	float: right;
	padding-top: 8%;
	height: 75.7%;
}

.rightArt td {
	padding-top: 4.5%;
	font-size: 170%;
	font-weight: 100;

}

.title {
	white-space:nowrap;
}

.middle {
}

.edit {
	padding-right: 0;
}