body {
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}

nav {
	padding-top: 0.01%;
	padding-bottom: 0.01%;
	font-size: 120%;
	background-color: #7A99FF;
}

nav a {
	text-decoration: none;
	color: #FFFFFF;
}

.active {
	color: #333333;
}

nav a:hover {
	color: #333333;
}

nav ul {
	list-style: none;
}

nav ul li {
	padding-right: 3%;
	padding-left: 3%;
	display: inline;
	color: #FFFFFF;
}

.right {
	padding-right: 0.3%;
	padding-left: 0.3%;
	float: right;
}

.right img {

	margin-right: 3%;
}


.artLeft {
	width: 60%;
	float: left;
}


.artRight {
	width: 25%;
	float: right;
	font-weight: 300;
}

.artRight h2 {
	font-weight: 300;
	font-size: 160%;
	color: #FFFFFF;
}

.artRight h3 {
	font-weight: 300;
	font-size: 120%;
}

.artRight h1 {
	font-weight: 300;
	font-size: 100%;
	text-align: left;
}

.divCreateTask{
	background-color: #333333;
	width: 100%;
	height: 30%;
	text-align: center;
	padding-top: 13%;	
	
}

.divCreateTask img{

	width: 40%;
}

.divTaskDescriptionTitle{

	background-color: #E47E2F;
	width: 100%;
	height: 10%;
	text-align: center;
	float: right;

}

.divTaskDescription{

	background-color: #F19A36;
	width: 97%;
	height: 36%;
	text-align: center;
	padding-top: 35%;
	padding-left: 3%;
	margin-right: 10%;

}

.divTaskDescription img{

	float: right;
	width: 15%;
	margin-right: 3%;
}

.divTaskDescriptionText{

	height: 70%;
	margin-bottom: 10%;
	overflow-y: scroll;
}

.divUserTask img{
	float: left;
	width: 8%;

}

.divUserTask {

	padding-left: 10%;
	padding-top: 5%;
}

.divUserTask h2{

	font-weight: 300;
	font-size: 160%;
	padding-left: 10%;
}

.divTopTasksList {

	background-color: #333333;
	width: 100%;
	height: 5%;
	margin-left: 10%;
	margin-top: 3%;

}

.divTopTasksList h3 {

	font-weight: 300;
	font-size: 80%;
	text-align: center;
	color: #FFFFFF;
	padding-top: 1%;

}

.divContentTasksList{

	background-color: #7A99FF;
	width: 100%;
	height: 62%;
	margin-left: 10%;
	overflow-y: scroll;

}

.divContentTasksList ul {

	list-style-type: none;
}

.divContentTasksList li {

	padding-top: 3%;
}

.divFooterTasksList {

	background-color: #333333;
	width: 100%;
	height: 5%;
	margin-left: 10%;

}

.divFooterTasksList ul {
	list-style: none;
}

.divFooterTasksList li {
	display: inline;
}